<div class="text">

    <img
        id="shopping_img"
        src="https://thumbs.dreamstime.com/z/panic-people-wheeling-shopping-cart-full-sterilizing-cleaning-equipment-consumer-goods-product-running-away-177573124.jpg"
        alt="shopping_cart_thumbs"
    />
    <h3 id="login_title">Please log in.</h3>

</div>
<div class="form">

    <form action="" method="POST">
        <div class="name_block flex-row">

            <label for="email">Email Address:</label>
            <input type="text" name="email" id="" />
            <label for="password">Password:</label>
            <input type="text" name="password" id="" />

        </div>

        <div class="buttons flex-row">
            <button type="submit" id="submit_button">LOG IN</button>

        </div>

    </form>

</div>