<div class="text">

    <img
        id="shopping_img"
        src="https://thumbs.dreamstime.com/b/shopping-cart-trolley-concept-breaking-white-brick-wall-73312089.jpg"
        alt="shopping_cart_thumbs"
    />
    <h3>Please log in.</h3>

</div>
<div class="form">

    <form action="" method="POST">
        <div class="name_block flex-row">

            <label for="email">Email Address:</label>
            <input type="text" name="email" id="" />
            <label for="password">Password:</label>
            <input type="text" name="password" id="" />

        </div>

        <div class="buttons flex-row">
            <button type="submit" id="submit_button">LOG IN</button>

        </div>

    </form>

</div>