<div class="text">

    <img
        id="shopping_img"
        src="https://thumbs.dreamstime.com/b/shopping-cart-trolley-concept-breaking-white-brick-wall-73312089.jpg"
        alt="shopping_cart_thumbs"
    />
    <h1>Freedom for shopping carts</h1>
    <p>Stop using coins for shopping carts in supermarkets. Insert a coin in
        order to use the shopping carts in supermarkets can sometimes turn into
        a complete annoyance. We demand more comfortable, more stress-free
        shopping.
        <br />
        Sign my petition to be able to use the shopping carts without any
        obstacles...
    </p>

</div>
<div class="form">

    <form action="" method="POST">

        <div class="flex-row signature_block">

            <label for="signature"> Signature: </label>
            <input type="hidden" name="signature" id="input_signature" />
            <canvas id="canvas_area" width="200" height="100"></canvas>

        </div>
        <div class="buttons flex-row">
            <button type="submit" id="submit_button">Submit</button>
            <button type="reset" id="clear_botton"><span>Clear</span></button>
        </div>

    </form>

</div>