<img
    id="shopping_img_petition"
    src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1603753755000/photosp/cbb768ff-9aa7-4974-8e63-f26325e46309/stock-photo-fun-friendship-freedom-smiling-shopping-cart-together-happy-hipster-laughing-cbb768ff-9aa7-4974-8e63-f26325e46309.jpg"
    alt="shopping_cart_thumbs"
/>
<h1>🤔 Let`s do it...</h1>
<div class="text">

    <p id="petition_text">
        Just give a hand, join us.
        <br />

        Sign my petition to be able to use the shopping carts without any
        obstacles...
    </p>

</div>
<div class="form sig_pad_petition">

    <form action="" method="POST">

        <div class="flex-row signature_block">

            <label for="signature"> Signature: </label>
            <input type="hidden" name="signature" id="input_signature" />
            <canvas id="canvas_area" width="200" height="100"></canvas>

        </div>
        <div class="buttons flex-row">
            <button type="submit" id="submit_button">Submit</button>
        </div>

    </form>

</div>