
<img
    id="shopping_img"
    src="https://thumbs.dreamstime.com/b/shopping-cart-trolley-concept-breaking-white-brick-wall-73312089.jpg"
    alt="shopping_cart_thumbs"
/>
<h1>Freedom for shopping carts</h1>
<div class="register_page">

    <div class="register_text">

        <p>
    
            Insert a coin in
            order to use the shopping carts in supermarkets can sometimes turn
            into a complete annoyance.
            <br> 
            Stop using coins for shopping carts in supermarkets. 
          
        </p>

    </div>
    <div class="form">

        <form action="" method="POST">
            <div class="name_block flex-row">
                <label for="first">Name:</label>
                <input type="text" name="first" id="" />
                <label for="last">Last Name:</label>
                <input type="text" name="last" id="" />
                <label for="email">Email Address:</label>
                <input type="text" name="email" id="" />
                <label for="password">Password:</label>
                <input type="password" name="password" id="" />

            </div>

            <div class="buttons flex-row">
                <button type="submit" id="submit_button">SIGN UP</button>
                <p>If you are already a member,</p>

                <a id="login_id" href="/login"> Please log in</a>

            </div>

        </form>

    </div>
 <div class="register_text">

            We demand more comfortable, more stress-free shoppings.
            <br />
            <br>
            Join our campaing to be able to use the shopping carts without any
            obstacles...
        </p>

    </div>
</div>