<h1 style="margin-bottom: 26px;">Thanks for your signature 💕</h1>
<img id="signature_img" src="{{img}}" alt="signature_image" />

<p id="thanks_links">
    <a id="signer_count" href="/signers">See all
        {{numberOfSigners}}
        signers.</a>
    <a href="/edit_profile"> 👀 Edit your profile</a>
</p>

<form action="" method="POST">

    <div class="buttons flex-row">
        <button type="submit" id="delete_button">
            😿 DELETE YOUR SIGNATURE</button>

    </div>

</form>